<div class="mainBlock">
    <a class="returnButton btn" href="/student/panel/payment">
        &#9668; Назад
    </a>
    <div class="dateBlock">
        <span class="dateBlock_text">Выберите диапазон дат, за который хотите увидеть операции:</span>
        <input type="date" class="dateBlock_input" id="dateInput" />
    </div>
    <div class="tableBlock tableBlock__history">
        <table class="tableBlock_table">
            <thead class="tableBlock_head">
            <tr>
                <th>Дата</th>
                <th>Операция</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody class="tableBlock_body">
            {{#each payments}}
                {{#if this.is_pay}}
                    <tr class="tableBlock_item tableBlock_item__green">
                {{else}}
                    <tr class="tableBlock_item tableBlock_item__red">
                {{/if}}
                        <td>{{this.date}}</td>
                        <td>{{this.operation}}</td>
                        <td>{{this.sum}}</td>
                    </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>