<a class="btn__return btn" href="/student/profile">
    &#9668; Назад
</a>
<div class="formBlock">
    <h4 class="form_head">Изменение почты</h4>
    <span class="form_information">
        Пожалуйста, введите свою новую почту, на неё придёт письмо с ссылкой для подтверждения новой почты.
    </span>
    <form action="/student/editInformation" method="POST">
        <div class="form_inputBlock">
            <input type="email" class="form_input" id="stud_email" placeholder=" " name="email" required>
            <label for="stud_email" class="form_label">Новый email</label>
        </div>

        <button type="submit" class="btn btn__submit">Обновить</button>
    </form>
</div>