@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

.block__abs{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.formEnter{
    width: 320px;
    height: 320px;
    padding: 10px;
    color: #2F2F2F;
    background: #F3F3F3;
    border-radius: 20px;
}

.formEnter__big{
    height: 560px;
}

.form_head{
    font-size: 24px;
    text-align: center;
    margin: 0 auto 20px;
    width: 200px;
}

.form_inputBlock{
    position: relative;
    margin-bottom: 20px;
}

.form_input {
    display: block;
    padding: 20px 10px 10px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form_input:focus {
    color: #2F2F2F;
    border-color: #BBD6FE;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(187, 214, 254, 0.3);
}

.form_label {
    position: absolute;
    top: 12px;
    left: 10px;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    color: #2F2F2F;
}

.form_input::-moz-placeholder {
    color: transparent;
}

.form_input::placeholder {
    color: transparent;
}

.form_input:focus~.form_label, .form_input:not(:placeholder-shown)~.form_label{
    opacity: .65;
    transform: scale(.85) translateY(-.75rem) translateX(.15rem);
}

.select_label{
    padding-left: 10px;
}

.form_select{
    margin-left: 10px;
    padding: 5px 10px;
    outline: 0;
    color: #2F2F2F;
    border-radius: 10px;
    border: 1px solid #D0D0D0;
}

.form_select:focus {
    border-color: #BBD6FE;
}

.btn{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    opacity: 0.8;
}

.btn__submit:focus{
    outline: rgba(187, 214, 254, 0.5);
}

.btn__submit{
    margin-top: 15px;
    background: #BBD6FE;
    color: #F3F3F3;
}

.mainBlock{
    position: absolute;
    width: 100%;
    padding: 0 0 20px;
    min-height: 100% !important;
}

.returnButton{
    margin: 20px auto;
    top: 20px;
    width: 120px;
    background: #BBD6FE;
    color: #fff;
}

.historyButton{
    margin: 0 auto;
    width: 200px;
    background: #50cb6c;
    color: #fff;
}

.dateBlock{
    text-align: center;
    padding: 10px;
}

.dateBlock_all, .dateBlock_period{
    font-size: 18px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 20px;
    padding: 8px 10px;
    background: #f1f7ff;
    color: #007CEE;
}

.dateBlock_all{
    width: 180px;
}

.dateBlock_period{
    width: 300px;
}

.dateBlock_input{
    width: 115px;
}

.dateBlock_submit{
    padding: 5px;
}

.dateBlock_all:hover{
    background: #c3d8fd;
}

.dateBlock_all.disabled:hover{
    background: #F3F3F3;
}

.paymentBlock{
    display: flex;
    width: 320px;
    margin: 20px auto;
    background: #dfdd;
    flex-direction: column;
    border-radius: 20px;
}

.paymentBlock_text{
    padding: 15px 12px;
    text-align: center;
    font-size: 18px;
}

.paymentBlock_form {
    width: 90%;
    margin: 0 auto;
}

.paymentBlock_sum{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #2F2F2F;
    background: #fff;
}

.paymentBlock_btn{
    margin: 15px auto;
    width: 200px;
    background: #50cb6c;
    color: #fff;
}

.labelBlock{
    margin: 0 auto;
    width: 500px;
    font-size: 24px;
    display: block;
    text-align: center;
}

.personBlock{
    position: absolute;
    top: 47px;
    right: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #BBD6FE;
    color: #fff;
    cursor: pointer;
}

.personBlock_name{
    width: 70%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.personBlock_img{
    width: 25px;
    height: 25px;
}

.balance{
    position: relative;
    top: 20px;
    left: 20px;
    width: 285px;
    height: 98px;
    border-radius: 10px;
    font-size: 20px;
    background: #E4F2FF;
    overflow: hidden;
}

.balance__positive{
    background: #E4F2FF;
}

.balance__negative{
    background: #FFE4E4;
}

.balance_text, .balance_sum{
    position: relative;
    left: 15px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #2F2F2F;
}

.balance_text{
    padding-top: 20px;
}

.balance_sum{
    margin-top: 10px;
}

.linkBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
}

.linkBlock:hover{
    opacity: .8;
}

.linkBlock_pay{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 115px;
    height: 34px;
    background: #82D84D;
    border-radius: 10px;
    font-size: 12px;
    color: #FFF;
    text-align: center;
}

.tableBlock{
    margin: 80px auto 20px;
    width: 1400px;
}

.tableBlock__payment{
    margin-top: 20px;
}

.tableBlock__history{
    text-align: center;
    margin-top: 20px;
}

.tableLegend{
    padding-bottom: 10px;
}

.tableLegend_inf{
    display: flex;
    justify-items: center;
    padding: 10px 0;
}

.tableLegend_colorBLock {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.tableBlock_table{
    width: 100%;
}

.tableBlock_head{
    text-align: center;
    background: #E4F2FF;
}

.tableBlock_head th{
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.tableBlock_item.hide{
    display: none;
}

.tableBlock_item__green, .tableLegend_colorBLock__done{
    background: #d4fdb6;
}

.tableBlock_item__red, .tableLegend_colorBLock__canceled{
    background: #ffc8c8;
}

.tableBlock_body td{
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #D9D9D9;
    color: #3d3d3d;
}

.tableBlock_link{
    padding: 0 !important;
}

.tableBlock_link .linkBlock{
    height: 100%;
    text-align: center;
    color: #007CEE;
}

.navigationBlock{
    margin: 20px auto 0;
    width: 530px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.navigationBlock_left, .navigationBlock_right{
    width: 250px;
    padding: 10px 20px;
    background: #BBD6FE;
    border-radius: 10px;
}

.logOutBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 94px;
    height: 34px;
    color: #fff;
    border-radius: 10px;
    background: #FF5858;
}

.addStudentBtn{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 320px;
    height: 74px;
    background: #BBD6FE;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.errorBlock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px 50px;
    text-align: center;
    background: #FF5858;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.errorBlock_head{
    font-weight: bold;
}

.errorBlock_buttonBack{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ad0000;
    border-radius: 10px;
}

#errorPopUp{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 60px);
    width: 320px;
    padding: 10px 20px;
    text-align: center;
    background: #FF5858;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    z-index: -1;
    opacity: 0;
    cursor: default;
}

.active{
    animation-duration: 4s;
    animation-name: slideIn;
}

@keyframes slideIn {
    100% {
        z-index: 100;
        opacity: 1;
    }

    0% {
        z-index: -1;
        opacity: 0;
    }
}

@media (max-width: 1439px){
    .tableBlock{
        width: 1000px;
    }

    .tableBlock_head th{
        font-size: 16px;
    }

    .tableBlock_body td{
        font-size: 14px;
    }
}

@media (max-width: 1023px) {
    .tableBlock{
        overflow-y: hidden;
        overflow-x: scroll;
        width: 530px;
    }
    .tableBlock_link .linkBlock{
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .personBlock{
        left: 50%;
        transform: translate(-50%, 0);
    }
    .balance{
        width: 320px;
        top: 120px;
        left: 0;
        margin: 0 auto;
    }
    .labelBlock{
        width: 240px;
        font-size: 18px;
    }
    .tableBlock{
        margin: 150px auto 0;
        width: 320px;
    }
    .tableBlock__payment{
        margin-top: 20px;
    }
    .tableBlock__history{
        margin-top: 20px;
    }
    .navigationBlock{
        width: 320px;
    }
    .navigationBlock_left, .navigationBlock_right{
        width: 150px;
        padding: 10px;
        font-size: 10px;
        font-weight: bold;
    }
    .addStudentBtn{
        top: 100px;
        height: 60px;
    }
}